.bookform {
  padding-left: 100px;
}

#title {
  width: 600px;
  height: 45px;
  border-radius: 4px;
  padding-left: 10px;
  color: #c4c4c4;
}

select {
  width: 285px;
  margin: 0 45px 0 34px;
  border-radius: 4px;
  height: 45px;
  background-color: #fafafa;
  padding-left: 10px;
  color: #c4c4c4;
}

button {
  background-color: #0290ff;
  color: #fff;
  border: 0;
  border-radius: 4px;
  height: 45px;
  width: 184px;
  font-size: 13px;
  font-weight: 600;
}
